@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-color: #fdfcf9;
        color: #1f2937;
    }
}

@layer utilities {
    .glass-panel {
        @apply backdrop-blur bg-white/70 border border-white/60 shadow-xl rounded-3xl;
    }
}
